:root {
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --blue-text-color: #2196f3;
}

/* CSS FOF HEADER FOR STUDIO ADN PORTFOLIO */

.index-page-body{
position: relative;
width: 1600px;
height: 2349px;
background-color: var(--white-text-color);
font-family: 'Roboto';
color: var(--first-text-color);
border: 1px solid crimson
}

.page-header {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: 1px solid crimson
}
/* .line {
  position: absolute;
  width: 1600px;
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #ECECEC;
} */

/* .top-line {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
} */

.container {

}

.site-nav {
}

.index-logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;

  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.footer-logo { 

}

.bluetext {color: var(--blue-text-color);}

.blacktext {color: var(--first-text-color);}

.whitetext {color: var(--white-text-color);}

.link { text-decoration: none; }
.list { list-style: none; }

.nav-list {
  /* position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px; */
}
.nav-studio {
  position: absolute;
  width: 49px;
  height: 16px;
  left: 453px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.nav-portfolio {
  position: absolute;
  width: 76px;
  height: 16px;
  left: 552px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.nav-contacts {
  position: absolute;
  width: 68px;
  height: 16px;
  left: 679px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}

.header-link {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-link.current {
  color: var(--blue-text-color);
}
/* current  виділяємо навігацію після переходу */  
.contacts {

}
.conection {
}

.email-header {
  position: absolute;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: grey;
  text-decoration: none;
}

.email-header:hover,
.email-header:focus {
  color: var(--blue-text-color);
}

.tel-header {
  font-family: 'Roboto';
  position: absolute;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: grey;
  text-decoration: none;
}

.tel-header:hover {
  color: var(--blue-text-color);
}

.tel-header:focus {
  color: var(--blue-text-color);
}

/* CSS FOR STUDIO */

.page-main {}
.hero {}
.cap {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  
  background: #2F303A;
}
.hero-title {}
.title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  
  color: var(--white-text-color)
}
.buttons {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  
}
.buttons:hover,
.buttons:focus {
  
}
.section {}
.general-list {
  position: absolute;
  width: 1170px;
  height: 101px;
  left: 215px;
  top: 774px;
  display: flex;
}
.general {}
.specific-title {}
.specifics {}


.progect-list {
position: absolute;
width: 1170px;
height: 386px;
left: 215px;
top: 969px;
}
.section {}
.work-title {}
.work-list {
  display: flex;
}
.progects {}


.worker-container {
position: absolute;
width: 1600px;
height: 648px;
left: 0px;
top: 1449px;
background: #F5F4FA;
border: 1px solid crimson
}
.work-title-team {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 668px;
  paddind-top: 1543px;
  
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  
  color: #212121;
}
.workers {
position: absolute;
width: 1170px;
height: 368px;
left: 215px;
paddind-top: 1635px;
display: flex;
}
.elements {}
.specifics-title-team {}
.specifics-team {}

/* FOOTER FOR STUDIO */

.page-footer {
position: absolute;
width: 1600px;
height: 252px;
left: 0px;
top: 2097px;

background: #2F303A;
}
.footer-container {

}
.logo-footer {
/* position: absolute;
width: 145px;
height: 31px;
left: 215px;
top: 2157px; */
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

color: var(--blue-text-color)
}
/* .text-address {
position: absolute;
width: 231px;
height: 81px;
left: 215px;
top: 2208px;
} */

.address {
/* position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2208px; */

font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--white-text-color)
}

.text-email {
/* position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2238px; */

font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.text-telephone {
/* position: absolute;
width: 231px;
height: 21px;
left: 215px;
top: 2268px; */

font-family: 'Roboto';
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}



/* CSS FOR PORTFOLIO */

.portfolio-page-body {

}



/* FOOTER FOR PORTFOLIO */




