:root {
  --first-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --blue-text-color: #2196f3;
}

.page-main {}

.page-body {
  font-family: 'Roboto';
  color: var(--first-text-color);
}

.page-header {
  font-style: normal;
  background-color: var(--white-text-color);
}

/* WebStudio */
.logo {
  font-family: 'raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  color: var(--blue-text-color);
  text-decoration: none;
}

.bluetext {
  color: var(--blue-text-color);
}
.blacktext {
  color: var(--first-text-color);
}
.whitetext {
  color: var(--white-text-color);
}

/* site-navigation */
.site-nav {}

.header-list {
}
.header-list {
}
/* .nav-list {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
} */
/* .nav-list {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-text-color);
} */
/* .nav-list:hover,
.nav-list:focus {
  color: var(--blue-text-color);
} */
.header-link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-text-color);
}
.header-link:hover,
.header-link:focus {
  color: #2196f3;
}
.header-link.current {
  color: var(--blue-text-color);
}

.email-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: grey;
  text-decoration: none;
}

.email-header:hover,
.email-header:focus {
  color: var(--blue-text-color);
}

.tel-header {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: grey;
  text-decoration: none;
}

.tel-header:hover {
  color: var(--blue-text-color);
}

.tel-header:focus {
  color: var(--blue-text-color);
}

/* .header-link:active {
  color: #2196f3;
} */
/* .header-link:visited {
  color: #2196f3;
} */
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
/* .tel {
} */
/* .mailto {
} */

.contacts {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.contacts:hover,
.contacts:focus {
  color: #2196f3;
}
/* .text-email-header{
} */
/* ФУТЕР ПОРТФОЛИО И СТУДИЯ */
.text-email {
  color: rgba(255, 255, 255, 0.6);
}
.text-email:hover,
.text-email:focus {
  color: #2196f3;
}
.text-telephone {
  color: rgba(255, 255, 255, 0.6);
}
.text-telephone:hover,
.text-telephone:focus{
  color: #2196f3;
}

.cap {
  background-color: #2F303A;
}

.title {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.buttons {
  background-color: var(--blue-text-color);
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-text-color);
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.buttons:hover,
.buttons:focus {
  background-color: #ffffff;
  color: #212121;
}

.general-list{
}
.specifics-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.specifics {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.work-list {}

.workers {}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.specifics-title-team {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.06em;
  color: var(--first-text-color);
}

.specifics-team {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #757575;
}

.specifics-progects {
}
.filters-button {
}

.filters {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  letter-spacing: 0.03em
}

.filters {
  background-color: #ffffff
  var(--first-text-color)
}
.filters:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.page-footer {
  background-color: rgb(15, 18, 56);
  color: var(--white-text-color);
}
.address {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.address:hover,
.address:focus {
color: #2196f3;
}

.text-address {
  font-style: normal;
  color: var(--white-text-color);
}

.text-email {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6)
}

.text-telephone {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6)
}
